<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- NAVBAR GLOBAL FRAGMENT -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-appsembly">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">APPSEMBLY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            style="border: none; background-color: rgba(255,255,255,0.2);">
            <i class="bi bi-list" aria-hidden="true" style="font-size: 1.8rem; color: #fff;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/inicio}">Inicio</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-logout">Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

</html>