<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/historial.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>APPSEMBLY</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/inicio">Inicio</a></li>
                <li><a href="/adminpanel">Panel de Administracion</a></li>
                <li><a href="/pregunta">Pregunta</a></li>
                <li><a href="/resultados">Resultados</a></li>
                <li><a href="/historial">Historial</a></li>
                <li><a href="/index">Cerrar Sesion</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <section id="historial">
            <h1>HISTORIAL DE VOTACIONES</h1>
            <h2>Observe sus votaciones pasadas y programadas</h2>
            <div id="contenedor-votaciones"></div>
        </section>
        <section class="menu-lateral">
            <div class="perfil">
                <div class="perfil-avatar" aria-hidden="true">
                    <i class="bi bi-person-circle"></i>
                </div>
                <p id="nombre">Nombre</p>
                <p id="apellido">Apellido</p>
                <button>Cerrar sesión</button>
                <button>Configuración</button>
            </div>
            <div class="descargar-actividad">
                <button>Descargar mi actividad</button>
            </div>
        </section>
    </div>

    <script src="/scripts/historial.js"></script>
</body>
</html>
