<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <link rel="stylesheet" href="/css/resultados.css"> <!-- Vincula el archivo CSS -->
</head>
<body>
    <header>
        <div class="logo">
            <h1>APPSEMBLY</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/inicio">Inicio</a></li>
                <li><a href="/adminpanel">Panel de Administracion</a></li>
                <li><a href="/pregunta">Pregunta</a></li>
                <li><a href="/resultados">Resultados</a></li>
                <li><a href="/historial">Historial</a></li>
                <li><a href="/index">Cerrar Sesion</a></li>
            </ul>
        </nav>
    </header>
    <div id="contenedorPrincipal">

            <h2 id="tituloEncuesta"></h2> <!-- Agregar un elemento h2 para mostrar el título -->           
            <div id="secciones">
                    
                <section id="resultado">
                    <h2 id="tituloResultado"></h2> <!-- Título del resultado cargado desde JavaScript -->
                    <div id="resultadoGrafico">
                        <canvas id="myChart"></canvas>
                    </div>
                </section>

                <section id="opciones">
                    <h2>Opciones de Votacion</h2>
                    <div id="contenedorOpciones"></div>
                </section>

            </div>
    </div>

    <script src="/scripts/resultados.js"></script> <!-- Vincula el archivo JavaScript -->
</body>

</html>
